.auth-form {
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
  }
  
  .form-control label,
  .form-control input,
  .form-control textarea {
    width: 100%;
    display: block;
    padding: 5px 2px;
    resize: none;
  }
  
  